APP_HOST=0.0.0.0
APP_PORT=3000

DB_HOST=localhost
DB_PORT=3306
DB_USER=root
DB_PASSWORD=root
DB_NAME=database

JWT_SECRET=JWTSECRET
JWT_ISSUER=menfess
JWT_EXPIRE_MINUTES=30

# Optional for migrate seed-admin command
SEED_ADMIN_USERNAME=admin
SEED_ADMIN_PASSWORD=admin
SEED_ADMIN_ROLE=admin
